h1, h2, h3, a, p, li {
  color: black;
  font-family: 'Source Sans Pro', sans-serif; }

h1 {
  color: white;
  font-weight: 100; }

.main h1 {
  color: black;
  padding-bottom: 20px; }
.main p {
  padding-top: 10px;
  margin-bottom: 10px !important; }

h2 {
  font-weight: 200;
  color: black;
  font-size: 38px; }

.white h2, .white p {
  color: white; }

h3 {
  font-weight: 100;
  font-size: 24px;
  display: block;
  padding-bottom: 2px; }

h4 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px; }

p {
  font-weight: 200;
  letter-spacing: 0.2px;
  line-height: 1.6em;
  font-size: 16px;
  margin-bottom: 20px !important; }

a {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  display: block; }

a:hover {
  color: #b7d432; }

.lead p {
  width: 100%;
  margin: 0 auto;
  max-width: 650px; }

nav li {
  text-align: right;
  padding-bottom: 5px; }
nav a {
  margin-bottom: 0px !important; }

#intro nav a {
  color: white; }

.mob-nav a {
  color: black !important; }

a.exit-off-canvas {
  margin-bottom: 0px !important; }
