$gold: #a8ff00;
$gold: #b7d432;


/* `Body
----------------------------------------------------------------------------------------------------*/

body{
	background: white;
}

.mobile{
	display: none !important;
}



/* `Headings
----------------------------------------------------------------------------------------------------*/

header{
	background: transparent;
	margin: 0 auto;
	z-index: 999;
	transition: all 500ms ease-in;  
	-webkit-transition: all 500ms ease-in;  /* Safari */
	width: 100%;
	padding: 25px 5%;
	margin-top: 45px;
	padding-top: 55px;
	position: relative;
}


nav{
	transition: all 200ms ease-in;  
	-webkit-transition: all 200ms ease-in;  /* Safari */
	padding:0px;
	margin: 0 auto;
	ul{
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
		}
	}
}

  
.top-scroll{
	top:0px !important;
}

nav{
	display: inline-block;
	float: right;
	ul, li{
		display:  inline-block;
		font-size: 16px;
		margin-top: 15px;
	}
}

.header{
	padding: 10px 10%;
	margin-top:-120px;
	height: 73px;

	.left-item{
		float: left;
		padding-top: 18px;
	}
	.right-item{
		float: right;
		padding-top: 18px;
	}
	.no-padd{
		padding: 0;
		margin: 0;
	}
	li{
		display: inline-block;
		a{
		color: black;
		font-size: 14px;
		}
	}
	img{
	}
}

.mob-nav{
	display: none;
	ul, li{
		display: block;
	}
}
.small-logo{
	width: 50px;
}

.shadow{
	box-shadow: 0px 0px 10px 3px #777; 
}

.home-logo{
	width: 300px;
	float: left;
}


img.menu{
	width:30px;
	top: 65px;
	right: 5%;
	position: absolute;
}

#intro, .white{
	background-color: black;
}

#intro{
	background-color: black;
	background: url(../images/image-home.jpg) no-repeat center center; 
	height:80vh;
	min-height: 550px;
	position: relative;
	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.4);
	}
}

.third{
	padding: 1.5% 5%;
	img{
		width:78px;
		padding-bottom: 10px;
	}
}

.contact-bar{
	width: 100%;
	height:45px;
	background-color: $gold;
	position: fixed;
	padding-top: 4px;
	z-index: 999;
	p{
		text-align: center;
		font-size: 24px;
		color: white;
		font-weight: 400;
	}
	.social{
		float: right;
		padding-right: 5%;
		margin-top: -54px;
		p{
			display: inline-block;
			font-size: 16px;
			font-weight: 400;
			padding-right: 10px;
		}
		img{
			width: 30px;
		}
		a{
			display: inline;
		}
	}
}

.bottom{
	position: relative !important;
	p, a.blink{
		margin-bottom: 0px !important;
		font-size: 16px;
		color: white;
		font-weight: 200;
		padding-top: 5px;
	}
	a.blink{
		margin-top: -10px;
		font-family: 'Source Sans Pro' !important;
	}
}

.gallery{
	position: relative;
	img{
		float: left;
		width:25%;
	}
	.examples{
		position: absolute !important;
		top:250px;
	}
	.overlay{
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: rgba(0,0,0,0.4);
	}
	.white{
		background: transparent;
	}

}

.gallery-img{
	width:25%;
	padding: 0.5%;
	float: left;
}


/* `Divs
----------------------------------------------------------------------------------------------------*/	

.cd-section{
	position: relative;
	padding:5%;
	width: 100%;
	text-align: center;
}

/* `Footer
----------------------------------------------------------------------------------------------------*/	

footer{
	background-color: white;
	text-align: left;
	position: relative;
	width: 100%;
	p, a{
		padding-bottom: 0px;
		font-size: 18px;
		color: white;
		text-align: left;
		font-family: 'Source Sans Pro' !important;
		text-transform: none;
		font-weight: 100; 
		margin-bottom: 5px !important;
	}
}

img.footer-logo{
	width: 250px;
	padding-top: 10px;
}

a.blink{
	position: absolute;
	right:5%;
	top:20px;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	text-transform: lowercase;
}
a.blink:hover{
	color: aqua;
}


/* `Button
----------------------------------------------------------------------------------------------------*/


.button{
	background-color: $gold;
	border: 1px solid $gold;
	color: white;
	padding:10px 50px;
	padding-top: 12px;
	margin-top: 30px;
}

.button:hover,
.button:focus,
.button:active{
	color: $gold;
	background-color: transparent;
	border-bottom-color: 0;
	
}


.flexslider .button{
	position: relative;
	top:50%;
	z-index: 999;
}


.flex-direction-nav a{
	top:30% !important;
}


/* `Contact Form ----------------------------------------------------------------------------------------------------*/

form.wpcf7-form{
	padding-top:40px;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{
	width:100%;

}


input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	-webkit-appearance: none;
	background-color: white;
	font-family: inherit;
	border: 2px solid $gold;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
	color: black;
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	transition: all 0.15s linear;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	border-radius: 0px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{
	background-color: white;
	border: 2px solid $gold;
	
}

input[type="submit"]{
	background-color: $gold;
	color: white;
	padding:10px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding-top: 12px;
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 12px;
	font-weight: 600;
	margin: 0px;
	width: 100%;
	border: 0.5px solid black;
	border-radius: 0px;
	margin-top: 10px;
	letter-spacing: 2px;
}
input[type="submit"]:hover{
	background-color: #222;
	color: white;
	cursor: pointer;
}

div.wpcf7-validation-errors{
	width:100%;
	color: #f7e700;
	font-family: 'Montserrat', sans-serif;
}

div.wpcf7-mail-sent-ok{
	border: 2px solid #398f14;
	width:100%;
	color: #398f14;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

div.wpcf7-response-output{
	padding: 1em 1em !important;
}




/* `Radio Buttons
----------------------------------------------------------------------------------------------------*/


.wpcf7-list-item input[type="radio"] {
    display:none; 
}

.wpcf7-list-item label {
    display:inline-block;
    background-color:black;
    border: 2px solid $gold;
    padding:20px 30px;
    font-family: 'Montserrat', sans-serif;
    color: $gold;
    text-transform: uppercase;
}

.wpcf7-list-item input[type="radio"]:checked + span.wpcf7-list-item-label { 
    color:white;
}



/* `Competition Page
----------------------------------------------------------------------------------------------------*/

.page-template-template-comp img.attachment-post-thumbnail.wp-post-image{
	margin-top: -220px;
}

.page-template-template-comp .cd-section{
	text-align: left !important;;
}

.page-template-template-comp h1{
	position: relative;
	width: 60%;
	margin-left: 20%;
	text-align: center;
	line-height: 50px;
	margin-bottom: 40px;
}

.page-template-template-comp nav ul a{
	color: white !important;
}

.page-template-template-comp path{
	fill: #ffffff;
}