@media only screen and (max-width: 1024px) {
	
	.header{
		padding: 10px 2.5%;
	}	
	
	.heads-up{
		a{
			color:white;
			display: inline;
		}
		.social{
			p{
			display: none;
			}
			img{
				padding-top: 10px;
			}
		}
		
	}
}



@media only screen and (max-width: 960px) {
	
	header{
		margin-top: 15px;
	}
	
	.third{
		width: 100%;
	}
	
	footer .third{
		width: 50%;
		padding-top: 10%;
		padding-bottom: 10%;
	}
	
	.gallery{
		img:nth-child(3), img:nth-child(4), img:nth-child(7), img:nth-child(8) {
			display: none;
		}
		img{
			width: 50%;
		}
		.examples{
			top:80px;
		}
	}
	
	.contact-bar{
		p{
			text-align: left;
			font-size: 18px;
			padding-left: 3%;
			padding-top: 5px;
		}
		.social{
			font-size: 12px !important; 
			img{
				width: 20px;
			}
		}
		a.blink{
			top: 22px;
			font-size: 12px;
		}
	}
	
	.bottom{
		p{
			font-size: 14px;
			padding-top: 8px;
		}
	}
	
	.cd-section{
		padding: 10%;
	}
	
	li.left-item, li.right-item{
		display: none;
	}
	
	ul.mob-nav{
		padding-top: 60px;
		background: rgba(255, 255, 255, 0.95);
		width: 100vw;
		height: 100vh;
		/* margin-left: 5%; */
		position: fixed;
		top: -20px;
		left: 0;
		right: 0;
		bottom: 0; 
	}	
	.mob-nav{
		display: none;
		li{
			display: block !important;
			margin-left: 0px;
			padding: 20px;
		}
	}
	
	.mobile{
		display: block !important;
	}
	.desktop{
		display: none !important;
	}
	
	li.no-padd{
		position: absolute;
		z-index: 2;
		left: 47%;
	}
	
	.home-logo{
		width: 50%; 
	}
	
	.title h2{
		font-size:30px;
	}
	.heads-up{
		a{
			color:white;
			display: inline;
		}
		.social{
			p{
			display: none;
			}
			img{
				padding-top: 10px;
			}
		}
		
	}
	
	#post-8{
		a{
			font-size: 17px;
		}
	}
	
}


@media only screen and (max-width: 640px) {
	
	.title{
		width: 90%;
	}	
	
	footer{
		.third{
			width: 100%;
			padding-top: 2.5%;
			padding-bottom: 2.5%; 
			text-align: center;
			a{
				text-align: center;
			}
		}
	}
	
	.gallery .examples{
		top:20px;
	}
	
	
	
}

